---
name: build

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        go_version: [1.24.x]

    name: Go ${{ matrix.go_version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}
        id: go

      - uses: actions/checkout@v5

      - name: Download Go modules
        run: go mod download
        env:
          GOPROXY: https://proxy.golang.org

      - name: Run linter
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0

      - name: Run tests
        run: go test -mod readonly -race
